.DS_Store
Zutaten/

.env
.env.local
.env.prod
.env.production

backend/.env
backend/.env.production
backend/.env.example
backend/.env.local

frontend/.env
frontend/.env.production
frontend/.env.example
frontend/.env.local

frontend/node_modules/
backend/vendor/

Zutaten/